#body{
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#container1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#menu{
    background-color: #303030;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #303030;
    color: white;
}

#topbar{
    background-color: #128870;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
}

#topbarL{
    float:left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px dotted #cccccc;
}

#topbarL img{
    width: 100px;
    height: 100px;
}

#topbarR{
    float: left;
    padding: 20px;
    width: 760px;
    font-size: 16px;
    text-align: center;
}

#content{
    padding: 40px;
    background-color: #dedede;
    min-height: 600px;
    text-align: justify;
}

#footer{
    clear: both;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

#a{
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.8;
    color: #ffffff;
}

#i{
    text-align: center;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.8;
    color: #ffffff;
}

#i:hover{
    cursor: pointer;
}

#a:hover{
    background-color: #000000;
    cursor: pointer;
}

.bigtitle{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
}