<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Pizzeria</title>
  <link rel="shortcut icon" href="/images/Pizza.png"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body id="body">
<div id="container">
  <div th:replace="layout :: top"></div>
  <div th:replace="layout :: Admin"></div>
  <div id="content">

   <p><form name="formularz" action="/Zmianahaslaadmina" th:object="${command}" method="GET">
      Zmień Hasło Admina:<br />
      Hasło:<br /><input id="haslo1" name="haslo1" type="password" th:field="${command.textField}" required/><br />
      Powtórz Hasło:<br /><input id="haslo2" name="haslo2" type="password" th:field="${command.textareaField}" required/><br />
      <input type="button" onclick="przeslij()" value="Zmień" />
    </form></p>

    <p><form name="formularz1" action="/Zmianahaslapracownika" th:object="${command}" method="GET">
      Zmień Hasło Pracownika:<br />
      Hasło:<br /><input id="haslo3" name="haslo3" type="password" th:field="${command.datetimeField1}" required/><br />
      Powtórz Hasło:<br /><input id="haslo4" name="haslo4" type="password" th:field="${command.datetimeField}" required/><br />
      <input type="button" onclick="przeslij1()" value="Zmień" />
    </form></p>

      <script type="text/javascript" src="/javascript/function.js"></script>
  </div>
  <div th:replace="layout :: footer"></div>
    <script type="text/javascript" src="/javascript/function.js"></script>
</div>
</body>
</html>