<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Pizzeria</title>
  <link rel="shortcut icon" href="/images/Pizza.png"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body id="body">
<div id="container">
  <div th:replace="layout :: top"></div>
  <div id="content">
    <h1>Zamówienie zostało przyjęte!!!</h1>
    <p>Czas realizacji zamówienia to 90 minut.</p>
    <p>W razie opóźnienia pracownik skontaktuje się z Państwem.</p>
    <a href="/"><button>Strona Główna</button></a>
  </div>
  <div th:replace="layout :: footer"></div>
</div>
</body>
</html>